*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #757070;
}
  
.container {
    background-color: grey;
    width: 300px;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: 4px solid darkblue;
}
  
.display {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: lightgrey;
    height: 40px;
    width: 100%;
    border: 1.5px solid lightgreen;
}
  
.buttons {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
}
  
.btn {
    width: 66px;
    height: 70px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
  
.btn:hover {
    background-color: lightblue;
}
  
.btn:active {
    background-color: lightgreen;
}
  
.btn-op, .btn-equals, .btn-clear {
    font-size: 14px;
}